.btn {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  position: relative;
  bottom: 20px;
  left: 270px;
}
button {
    width: 250px;
    height: 35px;
    background:rgb(231, 213, 154);
}
