.App {
  display: flex;
  margin-top: 7%;
}

.card {
  flex-direction: row-reverse;
  width: 250px;
  background: lightslategray;
  border-radius: 25px;
  border: 1px solid darkblue;
  padding: 20px;
  text-align: center;
}
div > h3 {
  color: khaki;
  font-size: 40px;
}
div > h2 {
  color: black;
  font-size: 40px;
}
div > h1 {
  color: lightseagreen;
  border-bottom: 1px solid black;
}
